$control-blue: #0099FF;
$control-green: #3DDC84;
$control-yello: #FFD700;
$control-black: #273036;
$control-orange: #FF5500;
$deep-grey: #707070;
$lead-grey: rgb(113, 113, 113);
$light-grey: rgb(218, 220, 224);
$dark-grey: rgb(169, 169, 169);

// $light-grey: #d3d3d3;
// $dark-grey: #727272;
